<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Assets/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="~/Assets/css/style.css" />

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    @*<script src="~/Scripts/jquery-ui-1.12.1.js"></script>*@

    <link href="../Assets/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="~/Assets/js/popper.js"></script>
    <script src="~/Assets/js/bootstrap-material-design.js"></script>
    <script src="../Assets/js/bootstrap-multiselect.js"></script>

    <link href="~/Assets/css/css.css" rel="stylesheet">
    @*<script src="~/Assets/js/Blob.js"></script>*@

</head>
<body>

    <div class="container-fluid ">
        <!--header commonon every page-->
        <div class="header">
            <div class="row">

                <div class="col-sm brand-logo"><a href="/home/index">@*<img src="~/Assets/images/logo.png" />*@</a></div>

                <div class="col-sm LoginUser  text-right">
                    <div class="username col-12"> <img src="~/Assets/images/user.png" onclick="location.href='@Url.Action("Index","EditUser")'" /></div>
                    <div class="logOut col-12">
                        @Html.ActionLink("Logout", "Logout", "Login")
                    </div>
                </div>
            </div>
            <div class="row blueHorizLine"></div>
        </div>
        <!--header commonon every page-->
        <div class="sub-header">
            <div class="row activiesList">
                <div class="col-sm-11 pr-0">
                    <div class="row headerMenu">
                        <div class="col-sm-1 text-center">
                            <a href="~/CreateFile">
                                <img src="~/Assets/images/enquiry.png" />
                                <div class="activities CallLoader">File</div>
                            </a>
                        </div>
                        <div class="col-sm-1 text-center">
                            <a href="~/Department">
                                <img src="~/Assets/images/grpProd.svg" />
                                <div class="activities CallLoader">Department Master</div>
                            </a>
                        </div>
                        <div class="col-sm-1 text-center">
                            <a href="~/SubDepartment">
                                <img src="~/Assets/images/subAssemble.svg" />
                                <div class="activities CallLoader">Sub Department Master </div>
                            </a>
                        </div>
                        <div class="col-sm-1 text-center">
                            <a href="~/Designation">
                                <img src="~/Assets/images/assembly.svg" />
                                <div class="activities CallLoader">Designation Master</div>
                            </a>
                        </div>
                        <div class="col-sm-1 text-center CallLoader">
                            <a href="~/User">
                                <img src="~/Assets/images/team.svg" />
                                <div class="activities">Users</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 text-right fullscreen p-4">
                    <img src="~/Assets/images/fullscreen.png" />
                </div>
            </div>
        </div>
        @RenderBody()
        <div class="loaderGif" style="display:none">
            <img src="~/Assets/images/loader2.gif" style="width:80px; height:80px" />
        </div>
    </div>

</body>
</html>


<script>

    $(".CallLoader").on('load', function () {
        $(".loaderGif").show().fadeOut();
    });
    $(window).on('beforeunload', function () {
        $(".loaderGif").show().fadeIn();
    });

    $(document).ready(function () {
        $(".fullscreen").click(function () {
            // ShowSnackBar("fullscreen");
            $(".header").slideToggle();
        })
    });

    function ShowSnackBar(key) {
        $("div[id='snackbar']").remove();
        $('<div id="snackbar"></div>').appendTo('body');
        var x = document.getElementById("snackbar");
        x.innerHTML = key;
        x.className = "snackBarshow";
        setTimeout(function () { x.className = x.className.replace("snackBarshow", ""); }, 3000);
    }

    function ValidateFile(element) {
        var isValid = true;
        var ext = $(element).val().split('.').pop().toLowerCase();
        if (ext == "exe") {
            ShowSnackBar('Invalid file extension');
            isValid = false;
            $(element).val('');
        }

        var fileLength = $(element)[0].files.length;
        var fileSize = ($(element)[0].files[fileLength - 1].size);
        if (fileSize > 26214400) {
            ShowSnackBar("File size larger than 25 MB");
            isValid = false;
            $(element).val('');
        }
        return isValid;
    }

</script>
